*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    display: grid;
    height: 100vh;
    width: 100%;

    grid-template-columns: 1fr 2fr 2fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;

    gap: 15px;
    padding: 15px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    
}
.item1 {
    grid-column: 1 /2;
    grid-row: 1 / 4;
    background: linear-gradient(to bottom, #b96bd8, #9b59b6);
}
.item2 {
    grid-column:2 /4;
    grid-row: 1 / 2;
    background-color: #7d7bdc;
}
.item3 {
    grid-column: 2 / 3;
    grid-row: 2 /3;
    background-color: #a8e67d;
}
.item4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: #f0b37e;
}
.item5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #f28b82;
}

.item6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: #7ec8e3;
}
.item7 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    background-color: #ef7f87;
}
.item8 {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    background-color: #e8d77a;
}